body
{
  background-color:#000;
font-family:helvetica;
margin:0px auto;
padding:0px;
  width:995px;
}
h1

{
color:#f9fd0d;
text-align:center;
margin-top:15%;

font-size:35px;
}
#like_button
{

margin-left:40%;
  width:10px;
height:10px;
border-radius:100%;
padding:10px;
background-color:white; }
#dislike_button
{
margin-left:50px;
width:40px;
height:40px;
border-radius:100%;
padding:10px;
background-color:white;
}
#total_rating{
   color: white;
font-size: 30px;
text-align: center;
}
#total_like{
color: white;
font-size: 40px;
margin-left:44%;

}
 #total_dislike{
color: white;
font-size: 40px;
margin-left:44%;
}


